:root {
    --section-background: #fff;
    --subtle-background: #F9F9F9;
    --subtle-item: #F6F7FB;
    --headings-primary: #fff;
    --headings: #3C7377;
    --paragraphs: #6A7184;
    --wrapper-shadow: rgba(91, 114, 178, .12);

    --input-stroke: #E6EAF3;
    --input-stroke-hover: #B9E8D9;
    --input-shadow: rgba(0, 0, 0, .03);
    --input-shadow-hover: rgba(70, 167, 136, .14);
    --input-color: #6A7184;

    --footer-brand: #DEE3F0;
    --footer-sub: #BCDDE2;
    --footer-btn: #9BC6CD;
    --footer-btn-hover: #ADD8DF;


    --primary100: #EBF5F2;
    --primary150: #E2EEEA;
    --primary200: #DBEDE7;
    --primary300: #71D1B4;
    --primary400: #5FBDA0;
    --primary500: #46A788;
    --primary900: #1C5B47;
    --primary-hover: #59BB9C;
    --primary-text: #fff;
    --primary-shadow: rgba(70, 167, 136, .24);

    --secondary100: #FBFBFB;
    --secondary150: #E2E7F2;
    --secondary200: #DEE3F0;
    --secondary225: #dae3f4;
    --secondary250: #8B9CC9;
    --secondary300: #7388c3;
    --secondary400: #6279B5;
    --secondary500: #5068A8;

    --subtle-color: #79C5CB;
}